.profile {
    max-width: 880px;
    margin: 0 auto;
    margin-bottom: 51px;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

@media screen and (max-width: 990px) {
    .profile {
        max-width: 90%;
    }
}

@media screen and (max-width: 767px) {
    .profile {
        max-width: 282px;
        flex-direction: column;
        margin-bottom: 36px;
    }
}