.popup__submit-button_disabled {
    border: 1px solid #000000;
    color: #000000;
    opacity: .2;
    background-color: transparent;
    pointer-events: none;
}

.popup__submit-button_disabled:hover {
    opacity: .2;
    cursor: pointer;
}